<?xml version="1.0" encoding="UTF-8"?>

<SpaConBridge>
  <Controller>
    <Online>0</Online>
    <StaticObjectsPolling>1</StaticObjectsPolling>
    <SoundobjectProcessors/>
    <MatrixInputProcessors/>
    <MatrixOutputProcessors/>
    <Bridging>
      <Node Id="1">
        <ObjectHandling Mode="Forward value changes only">
          <DataPrecision>0.001</DataPrecision>
        </ObjectHandling>
        <ProtocolA Id="2" Type="OSC" UsesActiveRemoteObjects="1">
          <ClientPort Port="50010"/>
          <HostPort Port="50011"/>
          <ActiveObjects>
            <DeviceName/>
            <GeneralError/>
            <ErrorText/>
            <StatusText/>
            <MatrixInputSelect/>
            <MatrixInputMute/>
            <MatrixInputGain/>
            <MatrixInputDelay/>
            <MatrixInputDelayEnable/>
            <MatrixInputEqEnable/>
            <MatrixInputPolarity/>
            <MatrixInputChannelName/>
            <MatrixInputLevelMeterPreMute/>
            <MatrixInputLevelMeterPostMute/>
            <MatrixNodeEnable/>
            <MatrixNodeGain/>
            <MatrixNodeDelayEnable/>
            <MatrixNodeDelay/>
            <MatrixOutputMute/>
            <MatrixOutputGain/>
            <MatrixOutputDelay/>
            <MatrixOutputDelayEnable/>
            <MatrixOutputEqEnable/>
            <MatrixOutputPolarity/>
            <MatrixOutputChannelName/>
            <MatrixOutputLevelMeterPreMute/>
            <MatrixOutputLevelMeterPostMute/>
            <SoundObjectSpread/>
            <SoundObjectDelayMode/>
            <AbsoluteSoundObjectPositionXYZ/>
            <AbsoluteSoundObjectPositionXY/>
            <AbsoluteSoundObjectPositionX/>
            <AbsoluteSoundObjectPositionY/>
            <MappedSoundObjectPositionXYZ/>
            <MappedSoundObjectPositionXY/>
            <MappedSoundObjectPositionX/>
            <MappedSoundObjectPositionY/>
            <MatrixSettingsReverbRoomId/>
            <MatrixSettingsReverbPredelayFactor/>
            <MatrixSettingsReverbRearLevel/>
            <MatrixInputReverbSendGain/>
            <ReverbInputGain/>
            <ReverbInputProcessingMute/>
            <ReverbInputProcessingGain/>
            <ReverbInputProcessingLevelMeter/>
            <ReverbInputProcessingEqEnable/>
            <SceneSceneIndex/>
            <SceneSceneName/>
            <SceneSceneComment/>
            <ScenePrevious/>
            <SceneNext/>
            <SceneRecall/>
            <MappingAreaP1real/>
            <MappingAreaP2real/>
            <MappingAreaP3real/>
            <MappingAreaP4real/>
            <MappingAreaP1virt/>
            <MappingAreaP3virt/>
            <MappingAreaflip/>
            <MappingAreaname/>
            <SpeakerPosition/>
          </ActiveObjects>
          <IpAddress Address="127.0.0.1"/>
          <PollingInterval Interval="100"/>
        </ProtocolA>
      </Node>
    </Bridging>
  </Controller>
  <UIConfig>
    <ActiveTab>Settings</ActiveTab>
    <EnabledPages>1, 2, 3, 4, 5, 6, 7</EnabledPages>
    <LookAndFeelType>2</LookAndFeelType>
    <FullscreenWindowmode>0</FullscreenWindowmode>
    <SoundObjectTable>
      <RowHeight>33</RowHeight>
      <ResizeBarRatio>0.5</ResizeBarRatio>
      <SingleSelectionOnly>0</SingleSelectionOnly>
    </SoundObjectTable>
    <MatrixInputTable>
      <RowHeight>44</RowHeight>
      <Collapsed>0</Collapsed>
    </MatrixInputTable>
    <MatrixOutputTable>
      <RowHeight>44</RowHeight>
      <Collapsed>0</Collapsed>
    </MatrixOutputTable>
    <ScenesPage>
      <PinnedScenes/>
    </ScenesPage>
    <MultiSlider>
      <MappingArea>-1</MappingArea>
      <ReverbEnabled>0</ReverbEnabled>
      <SpreadEnabled>0</SpreadEnabled>
      <MuSelVisuEnabled>0</MuSelVisuEnabled>
      <BackgroundImages/>
    </MultiSlider>
  </UIConfig>
  <ProcessorSelectionManager>
    <SOProcSelections/>
    <MIProcSelections/>
    <MOProcSelections/>
  </ProcessorSelectionManager>
</SpaConBridge>
